* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
img {
    border: 0;vertical-align: middle;
}
.clear_fix:after {
    content: "";
    display: block;
    clear: both;
}
.wrap {
    background: url("../images/banner.jpg") no-repeat center center fixed;
    background-size: cover;
}

/*网页头部*/
.header {
    line-height: 50px;
    background: rgba(0,0,0,.4);
}
/*头部导航*/
.header .nav {
    height: 50px;
    background: #ccc;
}
.nav_ul .logo {
    float: left;
    margin-left: 50px;
}
.nav_ul .logo a {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
}
.nav_ul li {
    float: right;
    margin-right: 30px;
    height: inherit;
    display: inline-block;
}
.nav_ul li a {
    color: #666;
}
.nav_ul .active {
    position: relative;
}
.nav_ul .active span {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    left: 0;
    bottom: 5px;
}

/*头部横幅*/
.banner {
    height: 600px;
}
.banner .inner {
    position: relative;
    top: 160px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.banner .inner .line {
    width: 60%;
    height: 2px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
}
.banner .inner h1 {
    margin-bottom: 10px;
}
.banner .inner p {
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 1px;
}
.banner .inner button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #e85e17;
    border-radius: 5px;
    color: #fff;
}
.banner .inner button:hover {
    transform: rotate(1080deg) scale(2);
    transition: 2s;    /*过渡效果*/
}
.banner .inner .more {
    margin-top: 140px;
}

/*内容第一部分*/
.content .part_one {
    background: #43b2a5;
    text-align: center;
    color: #fff;
    padding-top: 65px;
    opacity: .9;
}
.wraper h2 {
    padding: 15px 0;
    font-size: 27px;
}
.wraper .line {
    width: 40%;
    height: 2px;
    background: #a9a9a9;
    margin: 20px auto;
}
.wraper p {
    font-size: 18px;
    letter-spacing: 1px;
}
.icon{
    margin-top: 20px;
    padding-bottom: 20px;
}
.icon .item {
    width: 80px;
    height: 80px;
    border: 2px solid #008000;
    display: inline-block;
    margin: 20px 30px;
    transform: rotate(45deg);
}
.icon img {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
}

/*内容第二部分*/
.part_two {
    background: #212932;
    opacity: .95;
}
.first>div {
    float: left;
    font-size: 0;
}
.first_left {
    width: 42%;
}
.first_left img {
    width: 100%;
}
.first_text {
    position: relative;
    top: 68px;
    width: 55%;
    color: #fff;
    left: 50px;
}
.first_text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.first_text .first_title {
    font-size: 20px;
    margin-bottom: 20px;
}
.first_text p {
    font-size: 18px;
    letter-spacing: 2px;
    width: 90%;
}
.first .text_right {
    float: right;
}
.first:nth-child(odd) {
    background: rgba(255,255,255,.1);
}

/*内容第三部分*/
.part_three {
    background: #3f3965;
    opacity: .9;
    color: #fff;
}
.three_wrap {
    width: 60%;
    margin: 0 auto;
    padding-top: 65px;
}
.three_wrap .three_text {
    padding-bottom: 35px;
}
.three_text h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 27px;
}
.three_text .line {
    width: 55%;
    height: 2px;
    background: #1a0973;
    margin: 0 auto;
    margin-bottom: 20px;
}
.three_text p{
    width: 99%;
    font-size: 18px;
    letter-spacing: 1px;
}
.card_group .card {
    width: 50%;
    max-width: 272px;
    min-height: 300px;
    padding: 50px;
    float: left;
}
.card h3 {
    text-align: center;
    font-size: 23px;
}
.card p {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;
}
.card:nth-child(odd) {
    background: rgba(0,0,0,.05);
}
.card:nth-child(even) {
    background: rgba(0,0,0,.3);
}

/*尾部部分*/
.footer {
    min-height: 200px;
    background: #333;
    color: #fff;
    text-align: center;
}
.share_group {
    display: block;
    margin: 0 auto;
    width: 1080px;
    padding: 45px;
}
.share_group li {
    display: inline-block;
    padding: 10px;
}

/*面罩*/
.mask {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .5;

}

/*侧栏菜单*/
.slider {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -200px;
    width: 200px;
    background: #333;
    transition: .3s;
}
.slider ul li {
    padding: 15px;
    margin-top: 30px;
}
.slider ul li a {
    color: #fff;
}

/*返回顶部*/
.top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 50px;
    height: 30px;
}
.top img {
    width: 100%;
}
.top p {
    font-size: 12px;
    color: #fff;
}